body {
    background-color:rgb(203, 238, 194);
    font-family:Tahoma;
    font-size: 14px;
    margin: 0;
}

p, h1, h2, h3 {
    margin: 0;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

.header{
    width: 100%;
    top: 0;
    left: 0;
}
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    background: url(../images/dzer.jpg) center no-repeat;
}
.header_inner {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.header_logo {
    /*border: 1px solid black;*/
    width: 250px;
    margin-left: 5px;
}
.header_right {
    margin: 5px;
    margin-left: 560px;
    width: 80%;
    /*border: 1px solid black;*/
}
.header_name {
    font-size: 28px;
    color: rgb(96, 230, 114);
    /*border: 1px solid black;*/
    text-align: center;
    margin-bottom: 15px;
}

.nav {
    text-transform: uppercase;
    /*border: 1px solid black;*/
    text-align: center;
    margin-top: 30px;
}
.nav_link {
    font-size: 18px;
    text-decoration: none;
    color:white;
    margin-left: 10px;
}
.nav_link:first-child{
    margin-left: 0px;
}
.nav_link:hover{
    text-decoration: underline;
    color: rgb(96, 230, 114);
}

.content {
    color: rgb(35, 38, 241);
    margin: 10px 5px 10px 5px;
    font-size: 14px;
}

.news {
    width: 100%;
    max-width: 1280px;
}
.news_inner {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(12, 11, 11, 0.3);
}
.news_text_container {
    margin: 5px;
}
.news_text {
    font-size: 16px;
    color: black;
    text-align: justify;
}
.news_img {
    width: 500px;
    margin: 10px;
}
.news_title {
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    color: blue;
}